* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3 ease-in-out;
}

/* common style */
hr {
    margin: 10px 0;
}

section {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.primary-color-1 {
    color: #FF5400;
}

.primary-color-2 {
    color: #424247;
}

.primary-btn {
    background-color: #FF5400;
    border: none;
    padding: 5px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

/* header section style */
#header {
    width: 90%;
    margin: 0 auto;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

.menu {
    width: 50px;
    display: none;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
}

.logo h2 {
    font-size: 50px;
    font-weight: 800;
}

.banner {
    margin-top: 30px;
    text-align: center;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.banner .banner-description {
    color: #fff;
}

.banner-text {
    padding: 20px 0;
}

.banner-title {
    font-size: 52px;
    font-weight: 600;
}

.select {
    display: flex;
    justify-content: center;
    padding: 10px;


}

select {
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;


}

/* popular tours style */
#popular-tours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 50px;
}

.tours-img img {
    width: 100%;
    height: 400px;
}

.tours-content ul {
    margin-left: 30px;
    padding: 10px 0;
}

.tours-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.read-more-btn {
    padding: 10px 15px;
    margin-top: 20px;
}

/* destination design */
#destination {
    padding-top: 50px;
}

.destination-content {
    text-align: center;
}

.destination-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.location {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        "maldives   maldives  indenosia  indenosia"
        " srlinka  america   america    kasmir"
        "bangladesh bandorbon bandorbon  bandorbon"
    ;
    gap: 20px;

    justify-content: center;
}

.location h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.maldives {
    grid-area: maldives;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indenosia {
    grid-area: indenosia;
    position: relative;
}

.srlinka {
    grid-area: srlinka;
    position: relative;
}

.america {
    grid-area: america;
    position: relative;
}

.kasmir {
    grid-area: kasmir;
    position: relative;
}

.bangladesh {
    grid-area: bangladesh;
    position: relative;
}

.bandorbon {
    grid-area: bandorbon;
    position: relative;
}

.location img {
    width: 100%;
    height: 300px;
}


/* why choose style */
.why-choose-content {
    text-align: center;
}

.choose-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-container {
    margin-top: 50px;
}

.card-container img {
    width: 100px;
}

.row-1 {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center
}

.row-2 {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}

.card-container h4 {
    padding: 10px 0;
    font-size: 20px;
}

.card-1,
.card-2,
.card-3 {

    padding: 40px;
    border-radius: 10px;
}

.card-1 {
    background-color: #eee6de;
    border: 1px solid #FBB563;
}

.card-2 {
    background-color: #e2ebf0;
    border: 1px solid #29CEF6;
}

.card-3 {
    background-color: #dfcdcd;
    border: 1px solid rgb(209, 117, 117);
}



/* news letter section style */
.newsletter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 50px;

}

.newsletter img {
    width: 100%;
    height: 100%;
}



.subs-content {
    display: flex;
    flex-direction: column;
    border: 1px solid #FF5400;
    height: 100%;
    border-radius: 10px;
    padding: 100px 20px;


}

.subs-content input {
    margin-top: 20px;
    padding: 20px 15px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
}

.subscribe h3 {
    font-size: 30px;
    font-weight: 600;

}

.subs-title {
    padding: 10px 0;
}

.subs-content .subs-btn {
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.dis-img {
    position: relative;
}

.discount-offer {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: 200px;
    background-color: #FF5400;
    ;
    position: absolute;
    bottom: 30px;
    right: 10px;
    top: 100;
    text-align: center;
    transform: rotate(-20deg)
}

/* mobile responsive */
@media screen and (max-width:600px) {
    nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

    .select {
        flex-direction: column;
        gap: 10px
    }

    .banner {
        height: 100vh;
    }

    .logo h2 {
        font-size: 30px;
        font-weight: 800;
    }

    #popular-tours {
        grid-template-columns: repeat(1, 1fr);
    }

    .location {

        grid-template-areas:
            "maldives   maldives  maldives   maldives"
            " indenosia  indenosia  indenosia  indenosia"
            " srlinka  srlinka  srlinka  srlinka "
            "  america   america  america america  "
            "  kasmir kasmir kasmir kasmir"
            " bangladesh bangladesh bangladesh bangladesh"
            " bandorbon bandorbon bandorbon  bandorbon"
        ;

    }

    .row-1 {
        flex-direction: column;
        width: 100%;
    }

    .row-2 {
        width: 100%;
    }

    .newsletter {
        grid-template-columns: repeat(1, 1fr);
    }
}